<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="social-icons">
      {%- include social.html -%}
    </div>
  </div>

  <p style="text-align: center; font-size: medium;">
    <a href='http://srvr.xn--ida.live:12345/?prv=xn--ida.live'>&lt;&lt;&lt;</a>
    <a href='http://srvr.xn--ida.live:12345/'>[el círculo]</a> 
    <a href='http://srvr.xn--ida.live:12345/?nxt=xn--ida.live'>&gt;&gt;&gt;</a>
  </p>

</footer>